:root{
  --ff-prime:'Maven Pro', sans-serif;
  --peach:#efb5a3;
  --pink:#f57e7e;
  --navy:#315f72;
}
body{
  color: var(--navy);
  background-color: var(--peach);
  font-size: 19px;
  font-family: var(--ff-prime);
}
button:hover{
  background-color: var(--navy) ;
  color: var(--peach) ;
}
.ivent-input{
  height: 20px;
  width: 190px;
  font-size: 20px;
  text-align: center;
  background-color: var(--navy);
  color: var(--pink);
}
input{
  border-radius: 15px;
}
.start-input{
  margin-top: 10px;
  height: 20px;
  width: 190px;
  font-size: 20px;
  transform: translateX(-5px);
  background-color: var(--pink);
  color: var(--navy);
}
.end-input{
  margin-top: 10px;
  height: 20px;
  width: 190px;
  font-size: 20px;
  transform: translateX(-5px);
  background-color: var(--pink);
  color: var(--navy);
}
.btn{
  height: 40px;
  width: 150px;
  font-size: 25px;
  background-color: var(--pink);
  color: var(--navy);
  border-radius: 15px;
}
.calendar{
  background-color: var(--navy);
  color: var(--pink);
}
.App {
  text-align: center;
}
